* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
  
html {
  box-sizing: border-box;
}
  
body {
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
}
  
ul, li {
  list-style: none;
}
  
img {
  display: block;
  width: 100%;
  height: auto;
}
  
a {
  text-decoration: none;
  text-transform: uppercase;
}
  
h2, h3 {
  text-transform: uppercase;
}

p {
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

    /*--------------------header-------------------------*/

.container-header {
  margin: 0px auto;
  max-width: 1200px;
  background-color: #ffffff;
  display: block;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
  padding-bottom: 116px;
}
   
  .logotype-link {
  text-transform: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: rgb( 149, 225, 211 );
}
  
.navigation {
  min-width: 490px;     
}

.navigation-list {
  display: flex;
  justify-content: space-between;
}
   
.navigation-list-item-link {
  font-size: 14px;
  font-weight: 400;
  color: rgb( 149, 225, 211 );    
  position: relative;
}

.navigation-list-item-link:hover {
  color: rgb( 243, 129, 129 );
}
  
.navigation-list-item-link:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.navigation-list-item-link::after {
  content: "";
  display: block;
  background-color: rgb( 243, 129, 129 );
  width: 0%;
  height: 3px;
  bottom: -12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s linear;
  opacity: 0;
  visibility: hidden;
}
/*--------------main-------------------------*/

.container-main {
  margin: 0px auto;
  max-width: 1200px;
  background-color: #ffffff;
  display: block;
}

.service-title{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 440px;
  align-items: baseline;
  font-size: 30px;
  font-weight: 700;
  color: rgb( 51, 51, 51 );
}

.service-title:after {
  content: "";
  display: block;
  background-color: #f38181;
  height: 3px;
  width: 60px;
  margin: 40px 0px 66px;
}

.service-title-effect {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  text-transform: none;
  margin-bottom: 20px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.service-list-item{
  flex-basis: 400px;
  padding-left: 60px;
  padding-bottom: 100px;
  background-color: inherit;
  background-repeat: no-repeat;
}

.item-clock {
  background-image: url(../img/icon/photography.png);
}

.item-schedule {
  background-image: url(../img/icon/web-design.png);
}

.item-monitor {
  background-image: url(../img/icon/creativity.png); 
}

.item-document {  
  background-image: url(../img/icon/seo.png);
}

.item-house {
  background-image: url(../img/icon/css-html.png);
}

.item-focus {  
  background-image: url(../img/icon/digital.png);
}

.icon-title {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.service-title-text {
  width: 1200px;
  padding-bottom: 84px;
  text-align: center;
}

.title-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 440px;
  align-items: baseline;
  font-size: 30px;
  font-weight: 700;
  color: rgb( 51, 51, 51 );
}

.title-team:after {
  content: "";
  display: block;
  background-color: #f38181;
  height: 3px;
  width: 60px;
  margin: 40px 0px 66px;
}

.title-team-effect{
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  text-transform: none;
  margin-bottom: 20px;
}

.title-team-text {
  text-align: center;
  padding-bottom: 84px;
}

.our-team-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.our-team-card-list-items {
  width: 380px;
  position: relative;
}

.our-team-card-list-items:hover .photo {
  opacity: 0.9;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0px #95e1d3;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.overlay {
  position: absolute;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 380px;
  height: 472px;
  background-image: linear-gradient( 180deg, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9) );
  opacity: 0;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.overlay a:not(:last-of-type) {
  border-right: 1px solid rgba(243, 129, 129, 0.5);
}

.our-team-card-list-items:hover .overlay  {
  opacity: 0.9;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0px #95e1d3;
}

.social-list {
  display: flex;  
}

.social-list-item-link-facebook {  
  width: 56px;
  height: 56px;   
  background-color: rgb( 252, 227, 138 );
  border-right: 1px solid  rgba(243, 129, 129, 0.9);
  background-image: url(../img/icon/facebook.png);
  background-position: center;
  cursor: pointer;
}

.social-list-item-link-facebook:hover {
  background-color:rgb( 149, 225, 211 )
}

.social-list-item-link-twitter {  
  width: 56px;
  height: 56px;   
  background-color: rgb( 252, 227, 138 );
  border-right: 1px solid  rgba(243, 129, 129, 0.9);
  background-image: url(../img/icon/twitter.png);
  background-position: center;
  cursor: pointer;
}

.social-list-item-link-twitter:hover {
  background-color:rgb( 149, 225, 211 )
}

.social-list-item-link-pinterest {  
  width: 56px;
  height: 56px;   
  background-color: rgb( 252, 227, 138 );
  border-right: 1px solid  rgba(243, 129, 129, 0.9);
  background-image: url(../img/icon/pinterest.png);
  background-position: center;
  cursor: pointer;
}

.social-list-item-link-pinterest:hover {
  background-color:rgb( 149, 225, 211 )
}

.social-list-item-link-instagram {  
  width: 56px;
  height: 56px;   
  background-color: rgb( 252, 227, 138 );
  border-right: 1px solid  rgba(243, 129, 129, 0.9);
  background-image: url(../img/icon/instagram.png);
  background-position: center;
  cursor: pointer;
}

.social-list-item-link-instagram:hover {
  background-color:rgb( 149, 225, 211 )
}

.our-team-card-list-items-photo-name-personality {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #999999;
  margin-top: 30px;
  text-transform: uppercase;
}

.our-team-card-list-items-photo-name-personality {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  margin-top: 15px;
 }
 
/*----------------------footer-----------*/

.container-footer {
  margin: 0px auto;
  max-width: 1200px;
}

.footer-box { 
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 86px;
  padding-bottom: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.container-footer a {
  color: #f38181;
  text-transform: none;
}

.container-footer p {
  text-transform: none;
}

.contact-form {
  display: flex; 
}

.contact-form__input {   
  width: 230px;
  height: 40px;  
  padding-left: 12px;
  border: 1px solid #e7e7e7;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.contact-form__btn {
  border: none;
  width: 150px;
  height: 40px;
  background-color: rgb( 149, 225, 211 );
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}


